//// Gradients	////
	//
	//	Linear Gradients
	//	Color Stops
	//	Radial Gradients
	//	Transparent Gradients
	//	Multiple Layers Gradients
	//	Repeating Gradients

//// Colorzilla Ultimate CSS Gradient Generator
		// http://www.colorzilla.com/gradient-editor/

//// Linear Gradients
	// Allows us to create a background gradient
	// ! some browsers require a prefix -webkit- and different order !
	{background: linear-gradient(orange, darkblue);}
	// By defaults its set from top to bottom but we can set the direction
	// Values: to down(default), to top, to bottom right, 0deg
	{background: linear-gradient(15deg, orange, darkblue);}

//// Color Stops
	// Allows us to create more color complex linear and radial gradients
	// Values: we can use colors and position (orange 100px)
	{background: linear-gradient(orange, darkblue 30%, red 30%, black);}
	{background: radial-gradient(75% 25%, orange, darkblue, red, black 120%;}

//// Radial Gradient
	// ! some browsers  require a prefix -webkit- and different order !
	// Are like linear gradients but radiate from the center out
	{background: radial-gradient(orange, darkblue);}
	// To look the gradient shape in a circle we need to add the circle word
	{background: radial-gradient(circle, orange, darkblue);}
	// We can position the gradient origin
	// Values: center (default), 1st value horizontal, 2nd value vertical
	{background: radial-gradient(circle at top, orange, darkblue);}
	{background: radial-gradient(circle at 250px 50px, orange, darkblue);}
	{background: radial-gradient(circle at 75%, orange, darkblue);}
	// We can control the radius of gradients
	// Values: farthest-corner(default), farthest-side, closest-corner, closest-side
	{background: radial-gradient(circle closest-side at 75% 25%, orange, darkblue);}

//// Transparent Gradients
	// We can create transparent gradients using alpha colors or 'transparent'
	// ! Transparent is a rgba(0,0,0, 0.0) sometimes it can look grayish !
	// Values: transparent, transparent 75% or rgba(0,0,0, 0.5)
	{background: linear-gradient(hsla(0, 100%, 50%, 0.5), transparent);}

//// Multiple Layers Gradients
	// We can stack multiple gradients with image and colors
	{background: linear-gradient(hsla(0, 100%, 50%, 0.5), transparent 25%),
							 url('img/background.jpg');
	background-size: cover;}

//// Repeating Gradients
	// We can create patterns using repeating gradients
	{background: -webkit-repeating-linear-gradient(
		rbga(58,122,187, .8), 
		rba(43,79,115) 50px
	);}
	// We can customise it like linear gradients
	{background: -webkit-repeating-linear-gradient(
		-45deg, 
		rbga(58,122,187, .8) 20px, 
		rba(43,79,115) 2%, 
		rbga(58,122,187, .8)
	);}
	// We can also create repeating radial gradients
	{background: -webkit-repeating-linear-gradient(
		rbga(58,122,187, .8), 
		rba(43,79,115)  20px, 
		rbga(58,122,187, .8) 60px
	);}
	// We can customise it like radial gradients
	{background: -webkit-repeating-linear-gradient(
		0 0, 
		circle,
		rbga(58,122,187, .8), 
		rba(43,79,115)  20px, 
		rbga(58,122,187, .8) 100px
	);}
