//// Other CSS Features ////
	//
	// Unicode
	// Cursors


//// Unicode
	// We can display icons without poluting the html
	&:after { content: "\00A0"; } // Non-breaking Space
	// font-awesome incons
	&:after { 
		family-font: FontAwesome;
		content: "\f00d"; 
	} 

//// Cursors
	// specifies the mouse cursor displayed is over an element
	// https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
	.example { cursor: pointer; }
	.example { cursor: grab; }