////	Sass Script Functions ////
	//
	//	http://sass-lang.com/documentation/Sass/Script/Functions.html
	//
	//	Introspection Functions
	//		variable-exists()




//// variable-exists()
	// Returns whether a variable with the given name exists in the current scope.
	// $font-url: 'http://fonts.googleapis.com/css?family=Raleway:400,700,900,500,300,200';
	@if variable-exists(font-url) {
		@import url($font-url);
	}

//// null
	// Passes a variable with no value and it gets excluded from the CSS output unless we assign a value to it when including the mixin 
	// !! using null in math operations will return an error if no value gets passed !!
	@mixin display ($padding: null, $margin: null) {
		padding: $padding;
		margin: $margin;
	}

//// @error & &warn
	// @error and  @warn are useful for displaying error messages in mixins and functions
  @else {
    @error "invalid arguement";
   }

//// @content
	// Content directives allows us to pass more styles into a mixin
	@mixin pseudo($el,$h:null,$w:null,$d:null) {
		@if $el == "before" or $el == "after" {
			&:#{$el} {
				content: '';
				display: $d;
				height: $h;
				width: $w;
				@content;
			}
		}
	}

//// and, or, not
	//SassScript supports and, or, and not operators for boolean values.
	@if $var1 == value1 and $var2 == value2 {
			// ...
	}

	// Parentheses can be used to affect the order of operations in a more complicated expression:
	@if ($var1 == value1 and not ($var2 == value2)) or ($var3 == value3) {
			// ...
	}