////	Sass Advance Features//
	//
	//	Functions
	//	Interpolation
	//	if/else Loops
	//	@for Loops 
	//	@each Loops
	//	Advanced Mixin Arguments


//// Functions
	// The different between a function and a mixing is that it has to return
	@function example($value) {
		@return 0;
	}

	.box {
		color: example();
	}

//// Interpolation
	// Lest image we have various classes with the same name color
	// We use interpolations #{$variable} to define values
	@mixin color_class($color) {
		.#{$color} { 
			color: $color;
			// we can also use in it to define the image name
			background-image: url('image/#{$color}.jpg');
			// and create if functions
			@if $color == red {
				border: 1px solid black;
			}
		}
	}
	@include color_class(purple);
	@include color_class(orange);
	@include color_class(lime);

//// if/else Loops
	// With if else loops we can define various scenarious
	@mixin box($width) {
		// if width is bigger than 100px do nothing
		@if $width > 100px {
			padding: 0px;
		// else if padding is 100px, padding = 5px
		} @else if $width == 100px {
			padding: 5px;
			// we can even add classes to it
			.big {content: "huge!";}
		// otherwise padding = 10px
		} @else {
			padding: 10px;
		}
	}

//// @for Loops
	// Here we are creating a white to black gradients using 100 boxes
	// .box:nth-child(63) {darken:white, 63%};
	@for $i from 1 through 100 {
		.box:nth-child(#{$i}) {
			background: darken(white, $i);
		}
	}

//// @each Loops
	// For each member we are defining a selector name and background image
	// .bandmember.jonny {background: url("image/jonny.jpg");}
	@each $member in thom, jonny, colin, phil {
		.bandmember.#{$member} {
			background: url("image/#{$member}.jpg");
		}
	}

	//// Advance Mixin Arguments
	// With mixin arguments we can use $member to to pass a array
	// We can remove the ... if we remove the commas we we call our functions ($name, $members) @include band(radiohead, thom jonny colin phil);
	@mixin band($name, $members...) { 
			@each $member in $members {
			.#{$name}.#{$member} {
				background: url("image/#{$name}/#{$member}.jpg");
			}
		}
	}
	@include band(radiohead, thom, jonny, colin, phil);
	@include band(nin, trent);

	// we can set defaults in mixins
	@mixin box ($size: 10px, $color: black, $display: block) {
		width: $size;
		height: $size;
		background: $color;
		display: $display;
	}

	.box {
		@include box(10px, blue);
		// we can also call mixins like to make it easier to know what they are
		@include box($color: blue, $size: 20px);
		// Now that we've set the defaults we can pass them empty
		@include box();
		// or change only what we want
		@include box($display: inline);
	}

