//// Working with Media Queries
//
// Using @media directives
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#media



//body {
//	font-family: Helvetica;
//}
//
//.content {
//	.sidebar {
//	  background: #999;
//	  color: white;
//	  padding: 5px;
//	  float: left;
//	  width: 100px;
//	  a {
//	  	display: block;
//	  	color: white;
//	  }
//	}
//	.main {
//		padding: 5px;
//		background: #bbb;
//		display: inline-block;
//		width: 60%;
//	}
//}

// traditional you have all your style and then the media queries at the bottom


//@media (max-width: 480px) {
//	.content {
//		.sidebar {
//			width: 95%;
//			a {
//				display: inline;
//			}
//		}
//		.main {
//			width: 95%;
//		}
//	}
//}

// Instead we can write our media queries inline

body {
	font-family: Helvetica;
}

.content {
	.sidebar {
	  background: #999;
	  color: white;
	  padding: 5px;
	  float: left;
	  width: 100px;
	  a {
	  	display: block;
	  	color: white;
	  }
		@media (max-width: 480px) {
			width: 95%;
			a {
				display: inline;
			}
		}
	}
	.main {
		padding: 5px;
		background: #bbb;
		display: inline-block;
		width: 60%;
		@media (max-width: 480px) {
			width: 95%;
		}
	}
}