// Introducing Mixins
//
// Defining a Mixin 
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#defining_a_mixin
//
// Including a Mixin 
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#including_a_mixin



// Here's traditional css, where we have the same code being used multiple times
.box {
  border-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

// A whole bunch of other code
.button {
  border-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}



// First we create and name a mixin
@mixin roundy {
	// We pass in the parameters we want to use
	border-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

// We can do even more, here we use a selector
@mixin green_links {
	a {
		color: gree;
		&:hover {
			color: blue;
		}
	}
}

// And then we can include it in multiple projects
.box {
  @include roundy;
	// when we include the a selector inside .box it passes was
	// ".box a { }" stoping it from making it a global selector 
	@include green_links;
	
	// we can use it over and over
	.innerbox {
		@include roundy;
	}
}
.button {
	@include roundy;
	background: #345;
}
