// Modernizr

// modernizr is a javascript library that gives you a lot of tools to insure browser compatibility. we're gonna check it's ability to add classes to the html tag that explain different browser features

// http://modernizr.com

// Nothing seems different but when we inspect elements we see modernizr adds all this html tags

// js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths

// What's it doing is detecting what features the browser has and it is puting classes on the html tags so we can determine what the browser can do

// How is it useful? 
// for example not all browser support csscolumns 

// here write general code for all browsers
.blog .entry p {
	margin: 20px;
	color: green;
}

// and here we can write code that only works on browsers that support .csscolumns
html.csscolumns {
	.blog .entry {
		column-count: 2;
		column-gap: 10px;
		margin: 10px;
	}
}