//// Sass Functions
//
// Function Directives
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#function_directives



// here we're gonna make a 'machine' that shows how much R G B is in a color

$color: rgb(178, 74, 90);

@function pxify($value) {
	// the different between this and a mixing is that it has to return
	@return unquote($value + "px");
}

div {
	height: 100px;
	width: 255px;
	border: 1px solid black;
}

.color {background: $color;}
.red, .blue, .green {float: left;}

.red {
	background: red;
	
	
	// here we're overwriting the width with the amount of Red inside the passing color = 255
	// width: red($color) + "px"; | width: 255; | but 255 what?!
	// luckly we can add strings
	// width: red($color) + "px"; | width: "255 px"; | but changes the whole value to a strings
	// we can use unquote()
	width: unquote(red($color) + "px");
	// but it looks very funky and we don't want to be repeating for the other colors
	
	
	// So we're gonna use a function
	width: pxify(red($color)); // passing 255 returning 255px
}
.blue {
	background: blue;
	width: pxify(blue($color));
}
.green {
	background: green;
	width: pxify(green($color));
}