//// Creating a Color Palette
//
// Color Operations
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#color_operations
//
// Keyword Arguments
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#keyword_arguments



// To create dynamic color palletes we can use color functions

// desaturate($color, 0%)
$background: #c7ff03;
// complement() - picks the complementary (opposite color on the wheel)
// mix($color, $color) - mixes different colors
$text-color: complement($background);
// lighten($color, 0%) 
// darken($color, 0%)
$highlighted-text-color: lighten($text-color, 20%);

body {
	background: $background;
	font-family: sans-serif;
	color: $text-color;
}
a {
	color: $highlighted-text-color;
}