//// Background, Border Radius, Box and Text Shadow	////
	//
	//	Background Shorthand
	//	Background Image
	//	Background Repeat
	//	background Position
	//	background Attachment
	//	Background Size
	//	Background Clip
	//	Background-origin
	//	Multiple Backgrounds
	//	Border-radius
	//	Box Shadow

//// Background Shorthand
	// Positions: color image repeat attachment position size
	// We only need to specify the values we need
	{background: #E4E4E4 url('img/bg.png') no-repeat scroll center / cover; }
	// It's good pratice to keep the background-size seperated
	{background-size: cover;}

//// Background Color
	// Defines the color of the content background, it can take any Hex, 
	// Values: transparent(default), word keyvalues, RGBa or HSLa values
	{background-color: hsla(196, 41%, 64%, 0.72);}

//// Background Image
	// Sets the background image displayed in a element
	// ! If a image is important for the document is should be a <img> !
	{background-image: url('img/bg.png');}
	// We should always have a backup color as a fall back
	{background-image: url ('img/bg.png');}
	{background-color: #7eb5c9;}

//// Background Repeat
	// Allows us to define the repeat method on a background image 
	// Values: repeat(default), repeat-x, repeat-y, no-repeat
	{background-repeat: no-repeat;}

//// background Position
	// Allows us to define the position of a background image 
	// 1st value determns the X-position and 2nd determns the Y-position
	// Values: top left(default), right bottom, center, -100px 80%;
	{background-position: center;}

//// background Attachment
	// Allows us to change how a image looks when we scroll the page
	// Values: Scroll(default), fixed, local
	{background-attachment: fixed;}

//// Background Size
	// Allows us to specify the size of the background
	// Values: numeric values, percentages or cover and contain
	{background-size: cover;}

//// Background Clip
	// Specifities how far the background should visibly extend to
	// Values: border-box(default), content-box, padding-box
	// ! Very useful when using transparent boxers to avoid overlaps
	{background-clip: padding-box;}

//// Background-origin
	// Similar to background clips determins how a background is calculated
	// Good use for when using contain and wanting overlapped borders
	// Values: border-box, content-box, padding-box
	{background-origin: border-box;}

//// Multiple Backgrounds
	// Allow us to stack multiple layers of backgrounds separated by commas
	{
		background: url('img/img1.jpg') no-repeat right top,
							 url('img/img1.jpg') no-repeat left bottom,
							 url('img/img2.jpg') no-repeat #d6bb80;
	// We can use background-size separated by commas to adjust the sizes
		background-size: 200px 300px, 50% 30%, 110%;
	}
	// Or we can have it all inside the short hand
	// ! Some browser do not yet support this function !
	{
		background: url('img/img1.jpg') 350 200px / 250px 200px no-repeat,
								url('img/img1.jpg') 50px 50px / 50% 45% no-repeat,
								url('img/img2.jpg') center / 110% no-repeat #d6bb80;
	}

//// Border-radius
	// Allows us to create rounded corners to elements
	{border-radius: 8px;}
	// border-radius is a short hand versions of
	{
		border-top-left-radius: 50px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 10px;
	}
	// We can specify eliptical corners by adding a second value
	{
		border-top-left-radius: 50% 20%;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 80px 40px;
		border-bottom-left-radius: 20px;
	}
	// Shorthand: all
	{border-radius: 20px;}
	// Shorthand: top left + bottom right / top right + bottom left
	{border-radius: 30px 0;}
	// Shorthand: top, left / top right + bottom left / bottom right
	{border-radius: 30px 0 60px;}
	// Shorthand: top left / top right / bottom right / bottom left 
	{border-radius: 30px 0 60px 80px;}
	// Elipsie corners radius shorthand horizontal axis / vertical axis
	{border-radius: 50px / 100px;}
	// Elipsie corners radius shorthand:
	{border-radius: 50px 100px / 25px 50px;}
	// Perfect Circle
	{border-radius: 50%;}

//// Box Shadow
	// Allows us to add a drop shadow effect to elements
	// Values: (inset) horizontal-offset vertical-offset blur spread color;
	{box-shadow: box-shadow: 0 20px 30px -10px rgba(0,0,0,.8);}
	// We can set various box shadows within a box shadow seperated by commas
	{box-shadow: 2px 2px 15px 5px blue,
							 -2px -2px 15px 5px red,
							 0 20px 25px -8px #000;
	}