// ==========================================================================
// Extends
// ==========================================================================

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Nav Items

