// ==========================================================================
// Extends
// ==========================================================================

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Nav Items

%nav-item-disp {
  display: inline-block;
  margin: 0 em(12px);
}
%nav-item-link {
  font-size: em(18px);
  font-weight: $font-weight--light;
  display: block;
  padding: em(8px, 18px);
  border-bottom: 1px solid transparent;
}
%nav-item-on {
  color: palette(black);
  border-color: $color-primary;
}

// Headlines

%hdln-prim {
  color: palette(grey, x-dark);
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px/42px);
  margin-top: 0;
}

%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(24px);
  font-family: $font-family--secondary;
}


